html {
    font-family: sans-serif;
}

body {
    background-color: aliceblue;
}

h1 {
    margin: 0px;
    padding: 0px;
    background-color: skyblue;
    color: white;
    -webkit-text-stroke: 1px black;
}

li {
    padding-top: 0.3%;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.description {
    background-color: white;
    border-style: solid;
    border-color: lightskyblue;
}